body {
    background-color: #ececec;
    font-size: 16px;
    margin: 0 2.5rem;
    padding: 0 5.5rem;
}

.green {
    color: green;
}

.red {
    color: red;
}

a, a:visited {
    font-size: 1.25rem;
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 { 
    text-transform: capitalize;
    text-underline-offset: .75rem;
    text-decoration: underline;
    padding: .25rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.resource-box {
    border: 1px solid #000;
}

.resource-box p {
    padding: 0 1rem;
    font-size: 1.5rem;
}

.resource-box .content {
    padding: .5rem 1.25rem 1rem 1.25rem;
}

.resource-box .content > img.content-image {
    width: 100%;
}

.resource-box .content ul li {
    padding: .25rem 0;
}

.resource-box .content h3.technique {
    text-decoration: none;
    text-transform: capitalize;
    margin: .5rem 0 -.75rem 0;
}

.resource-box .content .definition {
    color:teal;
    font-size: 1.25rem;
}

.big-o-container {
  font-size: 1.5rem;  
}